/.dart_tool
/.flutter-plugins-dependencies
/.gitattributes
/.idea
/.metadata
/analysis_options.yaml
/android
/app.py
/assets
/build
/firebase.json
/flutter_01.png
/index.html
/ios
/lib
/linux
/macos
/pubspec.lock
/pubspec.yaml
/static
/test
/tomato.iml
/web
/windows